# MANAGED BY SALTSTACK, DON'T EDIT MANUALLY

#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME		HEADERS		SWITCH		HELPER
#							PORT	PORT(S)		DEST		LIMIT		GROUP
?SECTION NEW
Ping(ACCEPT)    all             $FW
SSH(ACCEPT)     int             $FW

# System specific rules
SHELL cat /etc/shorewall/rules.d/*.rules 2> /dev/null || true
